## List Concepts
    *append
    *insert
    *pop
    *del
    *sort
    *sorted (first it make a copy of original list and then sorted the copy.It does not affect original list)

In [1]:
names = ["Arif" , "Aqdas" , "Kamran"]
names[0]

'Arif'

In [2]:
names[1]

'Aqdas'

In [3]:
names[2]

'Kamran'

In [4]:
print("Hello " + names[0].title() + " how are you")
print("Hello " + names[1].title() + " how are you")
print("Hello " + names[2].title() + " how are you")

Hello Arif how are you
Hello Aqdas how are you
Hello Kamran how are you

In [5]:
print(["I","will" , "buy" ,"Rolls Royce" , "and" , "Gwagon" , "Insha Allah"])

['I', 'will', 'buy', 'Rolls Royce', 'and', 'Gwagon', 'Insha Allah']

In [6]:
guests = ["Arif" , "Aqdas" , "Kamran"]
print(guests[0] + " i would like to you on dinner at my place")
print(guests[1] + " i would like to you on dinner at my place")
print(guests[2] + " i would like to you on dinner at my place")

Arif i would like to you on dinner at my place
Aqdas i would like to you on dinner at my place
Kamran i would like to you on dinner at my place

In [7]:
print( "I would like to inform you all that " + guests[2] + " wont make it to dinner due to some emergency.")

I would like to inform you all that Kamran wont make it to dinner due to some emergency.

In [8]:
guests[2] = "Shahid"

In [9]:
guests

['Arif', 'Aqdas', 'Shahid']

In [10]:

print(guests[0] + " i would like to you on dinner at my place")
print(guests[1] + " i would like to you on dinner at my place")
print(guests[2] + " i would like to you on dinner at my place")

Arif i would like to you on dinner at my place
Aqdas i would like to you on dinner at my place
Shahid i would like to you on dinner at my place

In [11]:
guests.insert(0 , "Mosaib")
guests.insert(2 , "Faisal")
guests.insert(5 , "MUjtaba")

In [12]:
guests

['Mosaib', 'Arif', 'Faisal', 'Aqdas', 'Shahid', 'MUjtaba']

In [13]:
guests.pop()
print(guests)

['Mosaib', 'Arif', 'Faisal', 'Aqdas', 'Shahid']

In [14]:
del guests[0]

In [15]:
del guests[0]

In [16]:
guests

['Faisal', 'Aqdas', 'Shahid']

In [17]:
cities = ["Canada" , "Turkey" , "UK" , "USA" ,"Melbourn"]

In [18]:
cities

['Canada', 'Turkey', 'UK', 'USA', 'Melbourn']

In [19]:
print(sorted(cities))

['Canada', 'Melbourn', 'Turkey', 'UK', 'USA']

In [20]:
cities

['Canada', 'Turkey', 'UK', 'USA', 'Melbourn']

In [21]:
cities.reverse()

In [22]:
cities.reverse()

In [23]:
cities

['Canada', 'Turkey', 'UK', 'USA', 'Melbourn']

In [24]:
cities.sort()
cities

['Canada', 'Melbourn', 'Turkey', 'UK', 'USA']

In [25]:
cities.sort()
cities

['Canada', 'Melbourn', 'Turkey', 'UK', 'USA']

In [26]:
len(cities)

5

In [27]:
cars = ["Rolls Royce" , "G-Wagon" , "Supra" , "S-Class"]

In [28]:
cars.append("Audi")

In [29]:
cars

['Rolls Royce', 'G-Wagon', 'Supra', 'S-Class', 'Audi']

In [30]:
cars.pop()

'Audi'

In [31]:
sorted(cars)

['G-Wagon', 'Rolls Royce', 'S-Class', 'Supra']

In [32]:
cars

['Rolls Royce', 'G-Wagon', 'Supra', 'S-Class']

## For Loop

In [33]:
pizzas = ["Fajita" , "Malayi Boti" , "Cream Flavour"]

for i in pizzas:
    print(i + " flavour i  love it")
    
print("In above flavours mostly i love cream flavoured pizzas, fajita is also good")

Fajita flavour i  love it
Malayi Boti flavour i  love it
Cream Flavour flavour i  love it
In above flavours mostly i love cream flavoured pizzas, fajita is also good

In [34]:
animals = ["Cat" , "Dog" , "Goat"]

for i in animals:
    print("Every " + i + " babies are cute ")
    
print("From above animals goat babies are most cute in all")

Every Cat babies are cute
Every Dog babies are cute
Every Goat babies are cute
From above animals goat babies are most cute in all

In [35]:
#4-3
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [50]:
#4-4
one_million = []
for i in range(1,1000001):
    #print(i)
    one_million.append(i)

In [51]:
one_million

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [53]:
#4-5

min(one_million)

1

In [54]:
max(one_million)

1000000

In [55]:
sum(one_million)

500000500000

In [63]:
#4-6
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [65]:
#4-7
lst = []
for i in range(1,30,2):
    lst.append(i)
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [69]:
#4-8
cube_lst = []
for i in range(1,11):
    cube_lst.append(i ** 3)
cube_lst

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [67]:
#4-9
cube = [value ** 3 for value in range(1,11)]
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Slicing List

In [71]:
#4-10
cars = ["Rolls Royce" , "G-Wagon" , "Supra" , "S-Class"]
print("The first three items in the list are")
print(cars[:3])

The first three items in the list are
['Rolls Royce', 'G-Wagon', 'Supra']

In [72]:
#4-10
cars = ["Rolls Royce" , "G-Wagon" , "Supra" , "S-Class" , "Audi"]
print(" Three items from the middle  are")
print(cars[1:4])

 Three items from the middle  are
['G-Wagon', 'Supra', 'S-Class']

In [73]:
#4-10
cars = ["Rolls Royce" , "G-Wagon" , "Supra" , "S-Class" , "Audi"]
print(" Last Three items from the list  are")
print(cars[-3:])

 Last Three items from the list  are
['Supra', 'S-Class', 'Audi']

In [77]:
#4-11
my_pizzas = ["Fajita" , "Malayi Boti" , "Cream Flavour"]
friend_pizzas = ["Fajita" , "Malayi Boti" , "Cream Flavour"]

friend_pizzas.append("Spicy")
my_pizzas.append("Not Spicy")

In [78]:
friend_pizzas
my_pizzas

['Fajita', 'Malayi Boti', 'Cream Flavour', 'Not Spicy']

In [83]:
print("My Favourite Pizza Flavours are")
for i in my_pizzas:
    print(i)
    
print("\nMy friend Favourite Pizza Flavours are")
for i in friend_pizzas:
    print(i)

My Favourite Pizza Flavours are
Fajita
Malayi Boti
Cream Flavour
Not Spicy

My friend Favourite Pizza Flavours are
Fajita
Malayi Boti
Cream Flavour
Spicy

## Tuple

In [85]:
#4-13
foods_offer = ("Pizza" , "Burger" , "Cold Drink" , "Ice Cream" , "Nuggets")
for i in foods_offer:
    print(i)

Pizza
Burger
Cold Drink
Ice Cream
Nuggets

In [86]:
foods_offer[2] = "Biryani"

TypeError: 'tuple' object does not support item assignment

In [87]:
revised_foods = ("Pizza" , "Biryani" , "Cold Drink" , "Ice Cream" , "Pulao")
for i in revised_foods:
    print(i)

Pizza
Biryani
Cold Drink
Ice Cream
Pulao